# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore SQLite database files
*.sqlite
*.sqlite3

# Ignore the instance folder (if used for local configurations, databases, etc.)
instance/

# Ignore virtual environments
venv/
env/

# Other system files
.DS_Store
Thumbs.db
